
@model MrFixIt.Models.Job
<div class="login-register">
    <h2>Would you like to do this job?</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input class="btn btn-default" id="claim" type="submit" value="Claim This Job" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>
<script>
        $(document).ready(function () {
            $('#claim').click(function () {
                console.log($(this).serialize());
                $.ajax({
                    url: '@Url.Action("Claim", "Jobs")',
                    type: 'POST',
                    data: { JobId: $('#JobId').val(), Title: $('#Title').val(), Description: $('#Description').val()},
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                    },
                    failure: function (exception) {
                        alert("Something went wrong!");
                    }
                });
            });
        });
</script>