<div class="text-center">
    <h3>@Html.ActionLink("Add a new job", "Create")</h3>
 
</div>
<hr />
<div class="status-key">
    <div class="completed-text">Completed</div>
    <div class="in-progress-text">In Progress</div>
    <div class="incomplete-text">Incomplete</div>
</div>

<div class="jobs">


    @foreach (var Job in Model)
    {
        <ul>
            @if (Job.Pending)
            {
                <li class="in-progress-text" id="@("status"+ @Job.JobId)">@Job.Title</li>
            }
            else if (Job.Completed)
            {
                <li class="completed-text" id="@("status"+ @Job.JobId)">@Job.Title</li>
            }
            else
            {
                <li class="incomplete-text" id="@("status"+ @Job.JobId)">@Job.Title</li>
            }

            <ul>
                <li>@Job.Description</li>
            </ul>
            @if (Job.Worker == null)
            {
                <li class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>
            }
            else
            {
                <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

            }
        </ul>

        @if (Job.Worker != null && Job.Worker.UserName == User.Identity.Name)
        {
            <div class="worker-buttons">
                <input class="inProgress" id=@Job.JobId type="button" value="In Progress" />
                <input class="complete" id=@Job.JobId type="button" value="Completed" />
            </div>
        }
        <hr />
    }

</div>

<script>

    $('.inProgress').click(function () {
        id = $(this).attr('id');
        $.ajax({
            url: '@Url.Action("InProgress", "Jobs")',
            type: 'POST',
            data: { jobId: id},
            dataType: 'json',
            success: function (result) {
                $("#status" + id).removeClass("incomplete-text");
                $("#status" + id).removeClass("completed-text");
                $("#status" + id).addClass("in-progress-text");
            },
            failure: function (exception) {
                alert("Something went wrong!");
            }
        })
    })

    $('.complete').click(function () {
        id = $(this).attr('id');
        $.ajax({
            url: '@Url.Action("Complete", "Jobs")',
            type: 'POST',
            data: { jobId: id },
            dataType: 'json',
            success: function (result) {
                $("#status" + id).removeClass("incomplete-text");
                $("#status" + id).removeClass("in-progress-text");
                $("#status" + id).addClass("completed-text");
            },
            failure: function (exception) {
                alert("Something went wrong!");
            }
        })
    })
</script>