@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            @if (!Job.Completed)
            {
                @if (Job.Pending)
                {
                    <h5 class="in-progress-text">@Job.Title</h5>
                }
                else
                {
                    <h5 class="incomplete-text">@Job.Title</h5>
                }
            }
        }

        <h4>Your Completed Jobs:</h4>
        @foreach (var Job in Model.Jobs)
        {
            if (Job.Completed)
            {
                <h5 class="completed-text">@Job.Title</h5>

            }

        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}