
@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello @Model.FirstName @Model.LastName!</h4>
        <h3>Your Current Jobs Are:</h3>
        @foreach (var Job in Model.Jobs)
        {
            @if (!Job.Completed)
            {
                <div class="workers-job-container">
                    @if (Job.Pending)
                    {
                        <h3 class="in-progress-text">@Job.Title</h3>
                    }
                    else
                    {
                        <h3 class="incomplete-text">@Job.Title</h3>
                    }
                    <div>
                        @Job.Description
                    </div>
                </div>
            }
        }
        <br />

        <h4>Jobs You Have Already Completed:</h4>
        @foreach (var Job in Model.Jobs)
        {
            if (Job.Completed)
            {
                <div class="workers-job-container">
                    <h3 class="completed-text">@Job.Title</h3>
                    <div>
                        @Job.Description
                    </div>
                </div>
            }


        }
        <hr />
        @if (Model.Avaliable)
        {
            <h3>@Html.ActionLink("Select a new job here", "Index", "Jobs")</h3>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}